:root {
    --hero-front: 'Inter';
    --black-weight: 900;
    --general-font: 'Poppins';
}

::selection {
    color: white;
    background-color: #9FCCC1;
}

body {
    --dot-bg: white;
    --dot-color: blue;
    --dot-size: 1px;
    --dot-space: 30px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
  }

* {
    margin: 0;
}

body {
    margin: 1rem 7rem 2rem;
    font-family: var(--general-font);
    line-height: normal;
}

/* navigation bar */
nav {
    overflow: hidden;
}    

.nav-elm, .nav-elm:visited {
    color: black;
    float: right;
    text-align: center;
    padding: 2px 8px 2px;  
    margin: 10px;
    text-decoration: none;
    font-size: 17px;
    border: solid white 0.5px;
    border-radius: 2 px;
}

.nav-elm:hover {
    border: solid black 1px;
    color: #888EA3;
    
}

.logo {
    float: left;  
    border: solid white 1px;
    border-radius: 2px;

}

/* end navigation bar */

/* hero section */

.hero {
    text-align: center;
    color: #1e1e1e;
    margin: 70px;
}

#hero-line-height {
    line-height: 1;
}

h1 {
    font-weight: 900;
    font-size: 77px;
    font-style: normal;
    padding: 0;
}

#title {
    font-family: var(--hero-front);
    font-weight: var(--black-weight);
    font-size: 55px;
    
}

#foundation {
    margin-top: 30px;
    font-size: 20px;
}

/* end hero section */


/* contact.html */
.contact-section {
    margin-top: 100px;
   
    display: flex;
    flex-direction: row;
}
#about-self {
    font-size: 25px;
    font-style: italic;
}

/* Form Section */

input {
    background-color: #D9D9D9;
    border: none;
    border-bottom: #1e1e1e solid 1px;
    
}

.cta {
    margin-left: 200px;
    text-align: center;
    line-height: 1;
}

textarea {
    border: none;
    border-bottom: #1e1e1e solid 1px;
    background-color: #D9D9D9;
}

form {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
    padding: 30px 200px 40px 50px;
}

/* work.html */

.cw-works {
    margin-top: 70px;
    
}

.cw-works h2  {
    margin-bottom: 30px;
    font-family: 'Urbanist';
    
}

.cw-thumbnails{

    font-family: 'Urbanist';
    
    background-color: #F0F4F9;
    width: 190px;
    height: 300px;

    margin: 1rem;
    padding: 40px;

    border: none;
    /* border-radius: 30px; */
    
    margin-left: 0;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
}

.cw-thumbnails:hover {
    opacity: 50%;
}

.container-cw {

    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

.cw-description {
    margin-top: 30px;
    height: 150px;
}

.readmore-link {
    padding-top: 35px;
    margin-left: 30px;
    float: right;
}

.cw-title {
    height: 50px;
}

/* graphics section */
.gc-works {
    margin-top: 100px;
    font-family: 'Urbanist';
}

.graphics-design-container {

    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

.graphics-design-container img {

   margin: 1px;

}

/* video editing section */
.ve-works {
    font-family: 'Urbanist';
}
.videos-works {
    
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

iframe {
    border: none;
    /* border-radius: 20px; */
    margin: 6px;
}

/* skills section */

.certs {
    padding: 2rem;
}

.certs-container {
    border: none;
    /* border-radius: 50px; */

    background-color: #F0F4F9;
    

    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skillses {
    text-align: center;
    width: 200px;
    margin: 1px 15px 1px;
    padding: 2px 5px 2px;
    background-color: #D9D9D9;

    float: left;
    border: none;
    border-radius: 20px;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

footer {
   
    margin-top: 100px;
    margin-bottom: 100px;
        
}

.gradient-design {
    /* position: absolute; */
    /* translate: 870px -450px; */
    width: 300px;
    height: 500px;
    
}

.socials img {
    width: 45px;
    height: 45px;
    border: 1px solid white;
}

.socials img:hover {
    border: 1px solid black;
    border-radius: 10px;

    transition-timing-function: ease-in-out;
    transition: 1s;
    
}
.socials {
    margin-top: 45px;
    margin-left: 100px;
}
